html{
    background-color: #000099;
    font-family: 'Helvetica', 'Arial';
}

h1{
    color: white;
    text-align: center;
}

li{
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    list-style-type: none;
}

form{
    text-align: center;
}

[type="text"]{
    height: 25px;
    border-radius: 3px;
}

[type="submit"]{
    height: 30px;
    border-radius: 8px;
}

